<div class="inner cover">
  <h1>Ooops!</h1>
  <p class="lead">Something went wrong and we can't find what you are looking for.</p>
  <p class="lead">
    <a href="/" class="btn btn-lg btn-default">Go Home</a>
  </p>
</div>
