  <div id="author-list" class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled author">
          <li>Diyan Achjadi</li>
          <li>Kathy Anderson</li>
          <li>Leslie Baum</li>
          <li>Martha Bayne</li>
          <li>Susy Bielak</li>
          <li>Ken Brown</li>
          <li>Derrick Buisch</li>
          <li>Maripaz Carmago</li>
          <li>Peter Cortner</li>
          <li>Ethan D'Ercole</li>
          <li>Ralph Darden</li>
          <li>Keter Darker</li>
          <li>Mara Drogan</li>
          <li>Mary Ebling</li>
          <li>Diane Enriquez</li>
          <li>Chris Force</li>
          <li>Sarah Frier</li>
          <li>Julie Goodwin</li>
          <li>Lizzie Goodwin</li>
          <li>Ryan Griffis</li>
          <li>Ricki Hill</li>
          <li>Marissa Johnson-Venezuela</li>
        </ul>
      </div>
      <div class="ccol-md-6">
        <ul class="list-unstyled author">
          <li>Lisa Junkin Lopez</li>
          <li>Heather Kenny</li>
          <li>Tim  Kerr</li>
          <li>Alix Lambert</li>
          <li>Tim Lane</li>
          <li>Karen Leick</li>
          <li>Arpad Lep</li>
          <li>Hilary Lux</li>
          <li>Ceres Madoo</li>
          <li>Katey Margolis</li>
          <li>Chris O'Connor</li>
          <li>Julie Pomerleau</li>
          <li>Karen Reyes</li>
          <li>Sarah Ross</li>
          <li>Fred Schmalz</li>
          <li>Aaron Skog</li>
          <li>Richard Smith</li>
          <li>Marie Walz</li>
          <li>Fred Wells</li>
          <li>Paula Wilson</li>
          <li>Sue Anne Zolliger</li>
          <li>Damon Locks</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="index-bg">
    <div id="idx-one">Comic Book</div><div id="idx-two"> Accountability</div> <div id="idx-three">Project</div>
  </div>
