  <div id="author-list" class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled author">
        </ul>
      </div>
      <div class="ccol-md-6">
        <ul class="list-unstyled author">
        </ul>
      </div>
    </div>
  </div>
  <div id="index-bg">
    <div id="idx-one">Comic Book</div><div id="idx-two"> Accountability</div> <div id="idx-three">Project</div>
  </div>
