/*
 * Globals
 */

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #708090;
  font-family: 'PT Mono', sans-serif;
}
body {
  padding-top: 50px;
  color: #FFF;
  text-align: center;
}

body > .container {
  padding: 60px 15px 0;
}

.navbar-inverse {
  background-color: #708090 !important;
}
/**
* background index title
*/

#index-bg {
  color: #FF8C00;
  font-weight: 700;
  font-family: "Oswald";
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  font-size: 79px;
}

#idx-one {
  position:relative;
  left: -17%;
  top: 2em;
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#idx-two {
  color: rgba(255, 140, 0, 0.5);
  font-size: 140px;
  left: 9%;
  position: relative;
}
#idx-three {
  position: relative;
  right: -10%;
  top: -.75em;
}

#author-list {
  padding-top: 75px;
  position: absolute;
  z-index: 2;
  font-size: 2em;
}

.author {
  padding: 10px;
}

.author li {
  padding-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

li a {
  text-decoration: none;
  color: #FFF;
}
